[package]
name = "oc-wasm-helpers"
version = "0.5.1"
authors = ["Christopher Head <chead@chead.ca>"]
edition = "2021"
description = "Helpers used by multiple OC-Wasm high-level APIs"
repository = "https://gitlab.com/Hawk777/oc-wasm-helpers"
license = "GPL-3.0-only"
keywords = ["minecraft", "oc-wasm", "opencomputers"]
categories = ["games"]

[dependencies.minicbor]
default-features = false
features = ["derive"]
version = "^0.20"

[dependencies.oc-wasm-futures]
default-features = false
version = "^0.7"

[dependencies.oc-wasm-safe]
default-features = false
version = "^0.5"

[features]
default = ["alloc"]
alloc = []

[package.metadata.docs.rs]
default-target = "wasm32-unknown-unknown"
